@import "tailwindcss";

@theme {
    --color-paleturquoise: #b3E5FC;
    --color-goldenrod: #FFA726;
    --color-orangered: #FF5722;
    --color-gainsboro: #E0E0E0;
    --color-dimgray: #546E7A;

    --font-georgia: Georgia;
    --font-lora: "Lora", serif;
    --font-playfair: "Playfair", serif;

    --color-sandybrown: #FCBF6B;
    --color-darkgray: #A9AD94;
    --color-darkslategray: #42302E;
    --color-wheat: #F6DAAB
}

.bg-hero {
    @apply bg-[url(./assets/background/bg-hero.webp)] bg-no-repeat bg-cover
}

.find-category {
    @apply bg-gradient-to-br from-blue-300 to-goldenrod mr-1 sm:mr-2 lg:mr-5 p-1 sm:p-4 min-w-28 w-[25%] h-[30%] lg:h-[70%] flex justify-center items-center 
    rounded-lg shadow-lg text-base lg:text-2xl font-bold text-white text-shadow-lg/40 
}

.title-h2 {
    @apply text-3xl sm:text-4xl md:text-5xl text-start font-semibold font-playfair
}

.section-style {
    @apply flex flex-col justify-center p-0 lg:p-10 m-1 lg:m-5
}

.arrows-show-more {
    @apply bg-paleturquoise text-dimgray w-10 h-10 p-2 mx-2
}

.ul-footer li{
    @apply my-4
}

.active {
    @apply text-sandybrown
}

.author-infos-box {
    @apply bg-gainsboro mr-4 py-3 px-5 
}
.author-infos-box h3{
    @apply text-xl font-semibold
}
.arrows-show {
    @apply bg-orangered w-10 h-10 p-2 rounded-full cursor-pointer text-white shadow-md/50
}

.search-input {
    @apply bg-orangered text-white rounded-sm px-1 sm:px-4 focus:outline-0
}


